<h1>User</h1>
<p>
    <button ng-click="createNewUser()" class="btn btn-primary">Create</button>

</p>
<div>
    <div class="col-lg-6">
            <label>Search</label>
            <label>
                <input type="text" class="form-control" ng-model="searchText" />
            </label>
    </div>
    <table class="table table-bordered caption-top">
        <caption>List of users</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="i in users | filter: searchText">
                <td>{{i.Name}}</td>
                <td>{{i.Email}}</td>
                <td>{{i.Address}}</td>
                <td>
                    <button ng-click="editUser(i.Id)" class="btn btn-secondary">Edit</button>
                    <button ng-click="deleteUser(i.Id)" class="btn btn-danger">Delete</button>
                </td>
            </tr>
            <tr ng-if="!users || (users | filter: searchText).length == 0">
                <td colspan="3" style="text-align: center">
                    No user data to display
                </td>
            </tr>
        </tbody>
    </table>
</div>