<h1>Create new user</h1>
<form name="formAddUser" ng-submit="createUser(user)" novalidate>
    <hr />

    <div class="mb-3">
        <label for="nameInput" class="form-label">Name</label>
        <input type="text" id="nameInput" class="form-control" name="name" ng-model="user.Name" required ng-maxlength="32" />
        <span class="text-danger" ng-show="(formAddUser.name.$touched || formAddUser.name.$dirty) && formAddUser.name.$invalid">
            <span ng-show="formAddUser.name.$error.required">Name is required</span>
            <span ng-show="formAddUser.name.$error.maxlength">Name must be less than or equal to 32</span>
        </span>
    </div>
    <div class="mb-3">
        <label for="emailInput" class="form-label">Email</label>
        <input type="email" id="emailInput" class="form-control" name="mail" ng-model="user.Email" required ng-maxlength="50" />
        <span class="text-danger" ng-show="(formAddUser.mail.$touched || formAddUser.mail.$dirty) && formAddUser.mail.$invalid">
            <span ng-show="formAddUser.mail.$error.required">Email is required</span>
            <span ng-show="formAddUser.mail.$error.email">Invalid email address</span>
            <span ng-show="formAddUser.mail.$error.maxlength">Email must be less than or equal to 50</span>
        </span>
    </div>
    <div class="mb-3">
        <label for="AddressInput" class="form-label">Address</label>
        <input type="text" id="AddressInput" class="form-control" name="address" ng-model="user.Address" ng-maxlength="50" ng-minlength="2" />
        <span ng-show="formAddUser.address.$dirty && (formAddUser.address.$error.minlength || formAddUser.address.$error.maxlength)">
            Address must be in range 2 to 50
        </span>
    </div>
    <div class="form-text">
        <input type="submit" class="btn btn-success" value="Create" ng-disabled="formAddUser.$invalid" />
        <button ng-click="cancel()" class="btn btn-danger">Cancel</button>
    </div>
</form>